<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.zhang.java.mapper.DiscussPostMapper">

    <select id="selectDiscussPosts" resultType="discussPost">
        select * from discuss_post where status != 2
        <if test="userId != 0">
            and user_id = #{userId}
        </if>
        order by type desc, create_time desc
    </select>

    <select id="selectDiscussPostRows">
        select count(id) from discuss_post where status != 2
        <if test="userId != 0">
            and user_id = #{userId}
        </if>
    </select>

    <insert id="insertDiscussPost" useGeneratedKeys="true" keyProperty="id">
        insert into discuss_post
        values(null, #{userId}, #{title},#{content}, #{type},
               #{status}, #{createTime}, #{commentCount}, #{score})
    </insert>

    <select id="selectDiscussPostById" resultType="DiscussPost">
        select * from discuss_post where id = #{id}
    </select>
</mapper>